/*  
    CSS3 buttons are based on a blog post by Nick La (@nickla)
    Read the blog post for more information:
    "CSS3 Gradient Buttons": http://webdesignerwall.com/tutorials/css3-gradient-buttons
*/

.button {
    cursor: pointer;
    font: inherit;
    border-radius: 6px;
    outline: none;
    padding: 4px 15px 6px 15px;
}

.button:active {
    position: relative;
    top: 1px;
}

.black {
    color: #fff;
    border: solid 1px #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
}

.black:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
}

.black:active {
    color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
}

.red {
    color: #fff;
    border: solid 1px #980c10;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
}

.red:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
}

.red:active {
    color: #faddde;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
}
