/*  
    Awesome buttons are based on a blog post by ZERB
    Read their blog post for more information:
    "Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba 

    These buttons are even more awesome, as they need only one color for all three states and have a super awesome onclick state.
*/

.awesome {
    background-color: #111;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: 1;
    margin-top: 0;
    padding: 5px 10px 6px;
    text-align: center;
    text-decoration: none;
    
    /* Who needs images these days? */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(0,0,0,.0)));
}

.awesome:active {
    padding: 6px 10px 5px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(255,255,255,.2)));
}

.awesome:focus,
.awesome:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.4)), color-stop(0.5, rgba(150,150,150,.3)), to(rgba(0,0,0,.0)));
}
