body {
    margin: 0;
}

#content {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 910px;
}

#header {
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

#header h1 {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 750px;
}

#list {
    border-right: 1px solid #aaa;
    float: left;
    padding: 40px;
}

#list ul {
    font-size: large;
    line-height: 1.6;
    list-style-type: decimal;
}

.profile {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#list .button {
    width: 140px;
}

h2 {
    font-family: Georgia, serif;
    margin-top: 0;
}

#profileNameTB {
    font-family: Georgia, serif;
    font-size: 2em;
}

.highlight {
    -webkit-animation: highlight1 1s;
}

@-webkit-keyframes highlight1 {
    0% { background: white; }
    50% { background: yellow; }
    100% { background: white; }
}

.subrow {
    padding-top: 3px;
}

.help_sitelist {
    color: #9f9f9f;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 165px;
}

#profile_setting {
    float: left;
    height: 780px;
    padding: 40px;
    width: 520px;
}

#import_settings p {
    padding-left: 2px;
}

#buttons {
    margin-left: 165px;
    margin-top: 20px;
    width: 300px;
}

#sync_buttons {
    margin-left: 135px;
    margin-top: 20px;
    width: 300px;
}

.message {
    font-size: .9em;
    padding: 20px 0 20px 0;
}

.indented_text {
    font-size: .9em;
    margin-left: 24px;
    padding-bottom: 10px;
    width: 411px;
}

.section_header {
    clear: both;
    height: 30px;
    width: 500px;
}

#divImportOverride {
    text-align: left;
    width: 505px;
}

#inputImportOverwrite {
    margin-left: 5px;
}

.row {
    margin-bottom: 5px;
}

.secondColumn {
    margin-left: 165px;
}

label {
    margin-top: .2em;
    position: absolute;
    text-align: right;
    width: 150px;
}

label.disabled {
    color: #aaa;
}

label.checkbox {
    position: relative;
}

input[type="checkbox"] {
    width: 20px;
}

.url_example span.selected {
    color: #FFDB13;
}

.url_example {
    background-color: #000;
    border-radius: 7px;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 165px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
}

#footer {
    background-color: #eee;
    border-top: 1px solid #aaa;
    bottom: 0;
    font-family: Georgia, serif;
    font-size: .8em;
    font-style: italic;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

#footer a {
    background-color: #ddd;
    border-radius: 5px;
    color: #000;
    font-style: normal;
    padding: 4px;
}

#showSettings, #showInformation, #showImport, #showExport {
    margin-top: 20px;
}

#general_settings, #general_information, #import_settings, #export_settings {
    display: none;
    float: left;
    padding: 40px;
    width: 580px;
    height: 600px;
}

#importText, #exportText {
    height: 200px;
    width: 500px;
}

#fileInput {
    margin-left: 0;
}

#remove, #clear_sync_data {
    float: right;
}

#save, #set_sync_password {
    float: left;
}

#import_buttons, #export_buttons {
    text-align: right;
    width: 505px;
}

select, input {
    margin-left: 165px;
    width: 300px;
}

#master_password_row {
    padding: 20px 0 10px 0;
}
