body {
    margin: 0;
    overflow-y: scroll;
}

#banner {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#content {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    margin: 0 auto;
    width: 880px;
}

#header {
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

#header h1 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    width: 50%;
}

#list {
    border-right: 1px solid #aaa;
    float: left;
    padding: 40px;
    text-align: center;
    width: 180px;
}

#list ol {
    font-size: 1.1em;
    line-height: 1.5;
    overflow: auto;
    text-align: left;
}

.link {
    color: #551a8b;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: underline;
}

#list button {
    white-space: nowrap;
    width: 150px;
}

button {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif !important;
}

h2 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    margin: 0;
}

#profileNameTB {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 2em;
}

.highlight {
    -webkit-animation: highlight1 1s;
}

@-webkit-keyframes highlight1 {
    0% {
        background: white;
    }
    50% {
        background: yellow;
    }
    100% {
        background: white;
    }
}

.subrow {
    padding-top: 3px;
}

.section_info {
    font-style: italic;
    margin: 15px 0 15px 0;
}

.extra_info {
    color: #808080;
    font-size: .8em;
    margin: 0 0 10px 165px;
    width: 310px;
}

#import_settings p {
    padding-left: 2px;
}

#profile_buttons, #sync_buttons {
    margin: 20px 0 0 165px;
    width: 300px;
}

.info_text {
    font-size: .9em;
    margin: 20px;
}

#fileInput, #importOverwrite {
    margin-left: 5px;
}

.row {
    margin-bottom: 5px;
}

#cloneProfileButton {
    color: #551a8b;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 165px;
    text-decoration: underline;
}

label {
    margin-top: 3px;
    position: absolute;
    text-align: right;
    width: 155px;
}

.disabled {
    color: #aaa;
}

.checkbox {
    position: relative;
}

input[type="checkbox"] {
    width: 20px;
}

.selected {
    color: #ffdb13;
}

.url_example {
    background-color: #000;
    border-radius: 7px;
    color: #fff;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: .75em;
    font-style: italic;
    margin: 0 0 10px 165px;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 300px;
}

#footer {
    background-color: #eee;
    border-top: 1px solid #aaa;
    bottom: 0;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: .8em;
    font-style: italic;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

#footer a {
    background-color: #ddd;
    border-radius: 5px;
    color: #000;
    font-style: normal;
    padding: 4px;
}

#showSettings, #showInformation, #showImport, #showExport {
    margin-top: 20px;
}

#profile_settings, #general_settings, #general_information, #import_settings, #export_settings {
    display: none;
    float: left;
    margin-bottom: 60px;
    padding: 40px;
    width: 530px;
}

textarea {
    height: 200px;
    margin-top: 20px;
    width: 100%;
}

#save, #set_sync_password {
    float: left;
}

#clear_sync_data, #export_buttons, #importButton, #remove {
    float: right;
}

select, input {
    margin-left: 165px;
    width: 300px;
}

#master_password_row {
    padding: 20px 0 10px 0;
}
