body {
    margin: 0px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    border-bottom: 1px solid #aaaaaa;
    background-color: #eeeeee;
    margin-bottom: 10px;
}

#header h1 {
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 750px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
}

#list {
    padding: 5px;
    width: 210px;
    float: left;
    border-right: 1px solid #aaaaaa;
}

#list ul {
    padding-left: 10px;
    list-style-type: none;
}

#list li:before {
    content: "\0020 \0020 \0020 \00BB \0020";
    color: #aaaaaa;
}

#list .button {
    width: 120px;
}

h2 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#profileNameTB {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 2em;
}

.highlight {
    -webkit-animation: highlight1 1s;
}

@-webkit-keyframes highlight1 {
    0% { background: white; }
    50% { background: yellow; }
    100% { background: white; }
}

.subrow {
    padding-top: 3px;
}

.help_sitelist {
    margin-bottom: 10px;
    color: #9f9f9f;
    margin-left: 165px;
    font-size: 13px;

}

#showSettings {
    margin-top: 20px;
}

#showInformation {
    margin-top: 20px;
}

#showImport {
    margin-top: 20px;
}

#showExport {
    margin-top: 20px;
}

#list h2 {
    padding-top: 0px;
    margin-top: 0px;
}

#profile_setting {
    padding: 20px;
    width: 520px;
    float: left;
}

#general_settings {
    padding: 5px;
    width: 505px;
    float: right;
    display: none;
}

#general_information {
    padding: 5px;
    width: 505px;
    float: right;
    display: none;
}

#import_settings {
    padding: 5px;
    width: 505px;
    float: right;
    display: none;
}

#import_settings p {
    padding-left: 2px;
}

#export_settings {
    padding: 5px;
    width: 505px;
    float: right;
    display: none;
}

#importText {
    width: 505px;
    height: 150px;
}

#exportText {
    width: 505px;
    height: 150px;
}

#profile_setting h2 {
    padding-top: 0px;
    margin-top: 0px;
}

#buttons {
    margin-top: 20px;
    margin-left: 165px;
    width: 300px;
}

#buttons #remove {
    float: right;
}

#buttons #save {
    float: left;
}

#sync_buttons {
    margin-top: 20px;
    margin-left: 135px;
    width: 300px;
}

.message {
    margin-left: 135px;
    width: 300px;
    font-size: 0.9em;
    padding-top: 10px;
}

.indented_text {
    margin-left: 24px;
    width: 411px;
    font-size: 0.9em;
    padding-bottom: 10px;
}

.section_header {
    clear: both;
    width: 500px;
    height: 30px;
}

#sync_buttons #set_sync_password {
    float: left;
}

#sync_buttons #clear_sync_data {
    float: right;
}

#import_buttons {
    width: 505px;
    text-align: right;
}

#divImportOverride {
    width: 505px;
    text-align: left;
}

#inputImportOverwrite {
    margin-left: 5px;
}

#export_buttons {
    width: 505px;
    text-align: right;
}

.row {
    margin-bottom: 5px;
}

.secondColumn {
    margin-left: 165px;
}

label {
    position: absolute;
    text-align: right;
    width: 150px;
    margin-top: 0.2em;
}

label.disabled {
    color: #aaaaaa;
}

label.checkbox {
    position: relative;
}

input[type="checkbox"] {
    width: 20px;
}

select {
    margin-left: 165px;
    width: 300px;
}

input {
    margin-left: 165px;
    width: 300px;
}

.url_example span.selected {
    color: #FFDB13;
}

.url_example {
    margin-left: 165px;
    width: 300px;
    text-align: center;
    background-color: #000000;
    border-radius: 7px !important;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 12px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pledgie {
    margin-top: 30px;
}

#footer {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#footer a {
    background-color: #dddddd;
    font-style: normal;
    color: #000000;
    padding: 4px;
    border-radius: 5px !important;
}
