body {
    font-family: Georgia, "Droid Serif", Constantia, serif;
    font-size: 100%;
    width: 18em;
}

main {
    display: flex;
    flex-direction: column;
}

.small_row, .big_row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.small_row {
    height: 1.5em;
}

.big_row {
    height: 2em;
}

header > img {
    height: 1.25em;
    width: 1.25em;
}

header > span {
    font-weight: bold;
    margin-left: 1%;
    vertical-align: top;
}

label {
    color: #888;
    font-size: 75%;
    font-weight: bold;
}

input {
    border: .1em solid #000;
    width: 54%;
    height: 1.4em;
    font-size: 82%;
    padding: 0 0 0 .8%;
}

select {
    background-color: #fff;
    border: .1em solid #000;
    font-size: 82%;
    height: 1.5em;
    width: 55.6%;
}

.hidden {
    visibility: hidden;
}

#generated {
    font-family: "DejaVu Sans Mono", "Lucida Console", Monaco, monospace;
    font-size: 110%;
    font-weight: bold;
    height: 90%;
    text-align: center;
    width: 100%;
}

#activatePassword {
    height: 100%;
    width: 100%;
}

meter {
    border: .1em solid #000;
    height: 1.2em;
    margin-top: .2em;
    width: 100%;
}

meter::-webkit-meter-bar,
meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-optimum-value {
    transition: width 0.1s ease-out;
}

#strengthValue {
    cursor: default;
    font-family: "DejaVu Sans Mono", "Andale Mono", Consolas, Monaco, monospace;
    font-weight: bold;
    margin: 1.4% 0 0 44%;
    position: absolute;
}

#button_row {
    margin: 1% 0 1% 0;
    white-space: nowrap;
}

#copypassword, #injectpassword, #options {
    font-size: 90%;
    height: 90%;
    width: 32%;
}

body:not(#generated) {
    -webkit-user-select: none;
}
