body {
    font-family: "DejaVu Serif", Georgia, "Droid Serif", serif;
    font-size: 1em;
    width: 18em;
}

#input_section {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: .2em;
}

header {
    display: inline-grid;
    grid-template-columns: 8% 92%;
    margin-bottom: 2%;
    width: 100%;
}

header > img {
    height: 1.25em;
}

header > span {
    font-weight: bold;
}

label {
    color: #888;
    font-size: 75%;
    font-weight: bold;
}

input {
    border: .1em solid #000;
    border-radius: 0;
    float: right;
    font-size: 82%;
    height: 1.5em;
    padding: 0 0 0 .8%;
    width: 11.6em;
}

select {
    background-color: #fff;
    border: .1em solid #000;
    float: right;
    font-size: 82%;
    height: 1.5em;
    width: 11.9em;
}

.hidden {
    visibility: hidden;
}

#generated_section {
    display: inline-grid;
    width: 100%;
}

#generated {
    font-family: "DejaVu Sans Mono", Menlo, "Lucida Console", monospace;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
    width: 98%;
}

#activatePassword {
    width: 100%;
}

#strength_row {
    align-items: center;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    width: 100%;
}

#popupMeter {
    height: 2.6em;
    width: 100%;
}

@supports (-moz-appearance: none) {
    /* Firefox specific CSS; border-radius must come after */
    #popupMeter {
        height: 1.2em;
        border-radius: 1em;
    }
}

meter::-webkit-meter-bar,
meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-optimum-value {
    transition: all .1s ease-out;
}

#strengthValue {
    font-family: "DejaVu Sans Mono", "Andale Mono", Consolas, Monaco, monospace;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

#button_row {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .4em;
    margin-top: .3em;
    width: 100%;
}

#copypassword, #injectpassword, #options {
    font-size: 95%;
}

*:not(input) {
    user-select: none;
}
