#header {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    text-align: left;
}

#title {
    padding-left: 4px;
    vertical-align: top;
}

label {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: .75em;
    font-weight: bold;
    color: #888;
}

input {
    border: 1px solid #000;
    float: right;
    padding-left: 4px;
    width: 168px;
}

select {
    border: 1px solid #000;
    float: right;
    width: 174px;
}

.hidden {
    visibility: hidden;
}

#generated {
    font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
    font-size: 1.1em;
    font-weight: bold;
    height: 26px;
    text-align: center;
    width: 288px;
}

#activatePassword {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    height: 30px;
    width: 294px;
}

#button-row {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: .9em;
    text-align: center;
    white-space: nowrap;
}

#copypassword, #injectpasswordrow, #options {
    width: 32%;
}
