body {
    width: 200px;
    height: 10px;
    font-family: sans-serif;
    font-size: 13px;
}

form {
    display:none;
}

label {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 12px;
    font-weight: bold;
    color: #888888;
}

#head {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    font-weight: bold;
}

#head img {
    position: absolute;
    top: 8px;
}

#head span {
    margin-left: 20px;
}

.input {
    margin: 0px;
    width: 200px;
    border: 1px solid #000000;
}

#generated{
    color: #5E80F0;
    font-weight: bold;
    text-align: center;
    width: 200px;
    border: 1px solid #000000;
    font-size:15px;
}

#generated{
    color: #5E80F0;
    font-style: italic;
    text-align: center;
    width: 200px;
    border: 1px solid #000000;
    font-size:15px;
}

select {
    margin: 0px;
    width: 200px;
    border: 1px solid #000000;
}

.row {
    margin-bottom: 5px;
}

#injectpasswordrow {
    float: left;
}

#options {
    float: right;
}

#button-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.largebutton {
    width: 180px;
    text-align: center;
}