body {
  height: 290px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px;
}

form {
    display:none;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0px auto;
}

label {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 12px;
    font-weight: bold;
    color: #888888;
}

#head {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    font-weight: bold;
    position: relative;
}

#head img {
    position: absolute;
    top: 0px;
}

#head span {
    margin-left: 20px;
    margin-bottom: 10px;
}

.input {
    margin: 0px;
    width: 200px;
    border: 1px solid #000000;
}

#generated{
    color: #5E80F0;
    font-weight: bold;
    text-align: center;
    width: 200px;
    border: 1px solid #000000;
    font-size:15px;
}

select {
    margin: 0px;
    width: 200px;
    border: 1px solid #000000;
}

.row {
    margin-bottom: 5px;
}

#injectpasswordrow {
    float: left;
}

#options {
    float: right;
}

#button-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.largebutton {
    width: 180px;
    text-align: center;
}

#copypassword {
  float: left;
}

.hidden {
  margin-left: -500px;
  margin-top: -500px;
}
